*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/*BANNER SIDDE*/

.banner {
    width: 100%;
    margin-top: 90.78px;
    /*background-image: url('./assets/banner/Galaxy-S23-Series_KV_Product_2p_HI.jpg');*/
    animation: change 10s infinite;
}

.banner img {
    width: 100%;
    height: auto;
    animation: change 10s infinite;
}

@keyframes change {
    0% {
        background-image: url("./assets/banner/Galaxy-S23-Series_KV_Product_2p_HI.jpg");
    }
    33% {
        background-image: url("./assets/banner/05dfdf76fe961c0c61e9fff49554467b.jpg");
    }
    66% {
        background-image: url("./assets/banner/05dfdf76fe961c0c61e9fff49554467b.jpg");
    }
    100% {
        background-image: url("./assets/banner/Galaxy-S23-Series_KV_Product_2p_HI.jpg");
    }
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: #fff;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
}
.header .row{
    margin-top: 70px;
}
/*Header link tag a*/
.header__link {
    font-size: 18px;
    color: white;
    transition: color .1s ease-in;
}
.header__link:hover {
    color:#888;
}
.header__link-cart{
    color: #fafafa ;
    font-size: 26px ;
    margin-bottom: 5px;
}
.header__link-cart:hover {
    color:#888;
    transition: color .1s ease-in;
}

/*Categories*/
.categories{
    margin: 70px 0;
}
/* CSS FOR CATEGORIES */
.categories .col-3 {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2)
}

.categories .col-3 img {
    width: 100%;
    transition: transform 0.5s;
}

.categories .col-3:hover {
    transform: scale(1.2);
}

.categories .col-3:hover img {
    transform: scale(1.2);
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}

/*SMALL CONTAINER*/
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.small-container .title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    transition: transform .3s ease;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.small-container .title:hover {
    transform: scale(1.1);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
/* Offer */
.offer{
    background: radial-gradient(#fff, #60b2fe);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
.small-container {
    margin-top: 140px;
}

/* Testimonial */
.testimonial{
    margin-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/* Brands */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/* Footer */
.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    font-size: 28px;
    margin-left: 20px;
    display: none;
}
.MenuItems>li a {
    color: white;
}

/* All Products */
.row-2{
    justify-content: space-between;
    margin: 20px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn {
    margin: 0 auto 80px;
    color: black;
    text-align: center;
    font-size: 16px;

}
.page-btn {

}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: white;
}
.page-btn__a {
    padding: 5px 10px;
    color: rgba(0,0,0,.4);
    border:2px;
    margin: 0px 15px;
}
.page-btn__a:hover {
    color:#ee4d2d;
}

.page-btn__a:first-child:hover {
    opacity: 0.9;
}
.page-btn__chervo{
    padding: 5px 25px;
    color:rgba(0,0,0,.4);
}

.page-btn__a.active {
    background-color: #ee4d2d;
    color: white;
}

.lower_border {
    border-bottom: 1px solid #555;
    font-size: 18px;
    transition: transform 0.2s ease;
}
.boder3px {
    border-radius: 3px;
}
.lower_border:hover {
    transform: scale(1.1);
    font-weight: 600;
}
/* Single Product */
.single-product{
    margin-top: 110px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 5px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-left: 10px;
    border: 1px solid #ff523b;
    margin-right: 10px;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* Cart Items */
.cart-page{
    margin: 200px auto;

}
.cart-page__item th {
    padding:  16px;
    border-radius:1px;
}
.cart-button a,
.cart-button {
    padding: 2px 5px;
    font-size: 18px;
}
.cart-button a:nth-child(1) {
    margin-right: 6px;
}
.cart-button a:nth-child(2) {
    margin-left: 6px;
}
.no-cart td img{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    top: -120px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
.input__cart {
    width: auto;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* Account page */
.account-page{
    padding: 50px 0;
    background: url(../assets/images/banner.jpg);
    background-size: cover;
    margin-top: 90px;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 80px;
}
.input-form {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm {
    left: 0;
    transition: left 0.5s ease-in-out;
}

#RegForm {
    right: -300px;
    transition: right 0.5s ease-in-out;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(0);
    transition: transform 1s;
}

/*remember*/
.rememberme {
    position: relative;
    float: left;
}
.rememberme .remenberme-divcon {
    display: inline-block;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}
.remember-label {
    transition: all 0.5s;
}
.remember-label:hover {
    color: red;
}

/* CSS cho hộp tìm kiếm */
.searchBox {
    width: 200px; /* Độ rộng của hộp tìm kiếm */
    padding: 10px; /* Khoảng cách bên trong hộp tìm kiếm */
    border: 1px solid #ccc; /* Đường viền của hộp tìm kiếm */
    border-radius: 5px; /* Độ cong của góc hộp tìm kiếm */
    font-size: 16px; /* Kích thước phông chữ của hộp tìm kiếm */
}

/* CSS cho nút tìm kiếm */
.searchBtn {
    background-color: #007bff; /* Màu nền của nút tìm kiếm */
    color: #fff; /* Màu chữ của nút tìm kiếm */
    padding: 10px 15px; /* Khoảng cách bên trong nút tìm kiếm */
    border: none; /* Loại bỏ đường viền của nút tìm kiếm */
    border-radius: 5px; /* Độ cong của góc nút tìm kiếm */
    font-size: 16px; /* Kích thước phông chữ của nút tìm kiếm */
    cursor: pointer; /* Biến con trỏ thành một cái tay khi trỏ vào nút tìm kiếm */
}

.buy-confirm {
    text-align: end;
}

.buy-confirm form.checkOut input[type="submit"] {
    background-color: #ff523b; /* Màu nền cho nút "Check Out" */
    color: white; /* Màu chữ trắng trên nút */
    padding: 10px 30px; /* Tăng khoảng cách trong nút */
    border: none; /* Loại bỏ viền */
    cursor: pointer; /* Biến con trỏ thành hình cửa sổ khi đưa con trỏ vào nút */
}

.buy-confirm form.checkOut input[type="submit"]:hover {
    background-color: #ff3322; /* Màu nền thay đổi khi con trỏ đi qua nút */
}


/* Media query for menu */
@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/* Media query for 600 screen size */
@media only screen and (max-width: 600px){

    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}

/* selection */
.select-input {
    position: relative;
    padding: 0 12px;
    height: 34px;
    border-radius: 2px;
    background-color: white;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-input::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom:-10px;
    left: 0;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list {
    position: absolute;
    top: 115%;
    right: 0;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    padding-left:0;
    list-style: none;
    display: none;
    z-index: 1;
}
.select-input__link {
    display: block;
    text-decoration: none;
    font-size: 1.0rem;
    color: #333;
    padding: 12px 16px;
}
.select-input__link:hover {
    color: #EE4D2D;
}
.select-input__label {
    font-size: 1.0rem;
}
.select-input {
    background-color: white;
    width: 150px;
    height: 34px;
}
.selec-input__item {
    z-index: 2;
}
.header__select-select-icon {
    margin: 0 4px;
}
.header__select-select-icon {
    position: absolute;
    top: 9px;
    right: 2px;
    color: #4a4a4a;
    margin: 0 12px 0 8px;
}
.logo img {
    transition : transform 0.3s;
}
.logo img:hover {
    transform: scale(1.4);
}

/*history table*/
.table-container {
    position: relative;
    max-height: 600px;
    overflow-y: auto;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table th, .custom-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.custom-table th {
    background-color: #4CAF50;
    color: white;
}
.custom-table tr img{
    width: 160px;
    height: 160px;
    margin-right: 10px;
}
.custom-table td{
    text-align: center;
}

.table-header {
    position: sticky;
    top: -2px;
    background-color: #ffffff;
}
.row-2 {
    background-color: rgba(0, 0, 0, 0.06);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px;
}
.row-2 h1 {
    font-family: serif;
    padding-left: 10px;
}

.center_item{
    text-align: center;
}

.container_from-create {
    position: relative;
    background-color: #222;
    min-height: 85vh;
    animation: slideIn 2s; /* 2s là thời gian của animation */
    animation-delay: 0; /* 1s là khoảng thời gian trễ trước khi animation bắt đầu */
}
.form_input-create h1{
    width: 100%;
    font-size: 70px;
    color: white;
    text-align: right;
    padding: 10px 20px;
    font-family: serif ;
    margin: 0;
}
.form_input-create h5{
    padding: 8px 20px;
    color: #808080;
    font-size: 22px;
    min-width: 30%;
    display: inline-block;
    font-family: inherit;
}
.form_input-create input {
    width: 62%;
    height: 32px;
    padding: 4px 20px;
    border-radius: 5px;
    border: 0;
}
.form_input-create select{
    margin-left: 15px;
    border-radius: 1px solid black;
}
.row-create {

}
.submit-long:hover {
    color: #60b2fe ;
}

.create-option {
    width: 300px;
}
.submit-create {
    font-size: bold;
    padding: 6px 30px;
    float: right;
    margin-right: 10%;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.05);
}
.submit-create-back {
    background-color: white;
    color: black;
    font-size: bold;
    padding: 6px 30px;
    float: left;
    margin-left: 6px;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.05);
    margin-top: 5%;
}
.submit-create:hover {
    background-color: black;
    color:white;
    border :0 ;
}
.back-admin:hover {
    color:#60b2fe !important;
    border-color: #60b2fe;
}
.row-create img {
    float: right;
    width: 200px;
    height: 200px;
    margin : 8px 80px ;
    object-fit: cover ;
    position: relative;
}
.container_from-create.update {
    min-height: 100vh;
}
.submit-uP {
    margin: 5% 2px;
}
.submit-uP:hover {
    background-color: #fafafa ;
    color :#60b2fe;
}
.submit-create-back-u {
    color: white;
    border-bottom: 1px solid white;
    margin-left: 10px;
}

@keyframes slideIn{
    from {
        transform: translateX(-70%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
